In [1]:
import os
# Change directory to the project root
os.chdir("../") 
print(os.getcwd()) # Confirm you are now in the main project folder

c:\Users\user\Desktop\Customer_Satisfaction_Prediction_to_Production

In [5]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
import seaborn as sns

# Define the path
file_path = Path("artifacts/feature_selection/filtered_transformed_dataset.csv")

# Load the dataset
try:
    df = pd.read_csv(file_path)
    print("Data loaded successfully!")
except FileNotFoundError:
    print(f"Error: The file at {file_path} was not found.")

Data loaded successfully!

In [6]:
import pandas as pd

pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)
pd.set_option("display.width", 2000)
pd.set_option("display.max_colwidth", None)

In [9]:
df.head()

   diff_estimated_delivery  response_time_hours  total_order_value   price  freight_value  customer_city  order_item_id  product_description_lenght  delivery_days  order_approved_at  order_delivered_carrier_date  product_weight_g  product_name_lenght  product_volume_cm3  seller_city  product_height_cm  product_length_cm  product_width_cm  purchase_day_of_week  product_category_name_english  review_score
0                     -8.0            27.730000              38.71   29.99           8.72         2750.0              1                       268.0            8.0            10651.0                       10401.0             500.0                 40.0              1976.0        277.0                8.0               19.0              13.0                   1.0                           49.0             4
1                     -6.0            18.630556             141.46  118.70          22.76          311.0              1                       178.0           13.0            34223.0                       32575.0             400.0                 29.0              4693.0         52.0               13.0               19.0              19.0                   5.0                           59.0             4
2                    -13.0            67.366111              72.20   45.00          27.20         2648.0              1                       468.0           13.0            13439.0                       13113.0             450.0                 59.0              6000.0         52.0               10.0               30.0              20.0                   2.0                           60.0             5
3                     -9.0            23.229722             259.06   99.00          30.53         2402.0              1                       450.0           12.0             3778.0                        3706.0            9000.0                 36.0             19656.0         98.0               12.0               42.0              39.0                   5.0                           42.0             1
4                     -9.0            23.229722             259.06   99.00          30.53         2402.0              2                       450.0           12.0             3778.0                        3706.0            9000.0                 36.0             19656.0         98.0               12.0               42.0              39.0                   5.0                           42.0             1

In [2]:
import os
# Change directory to the project root
os.chdir("../") 
print(os.getcwd()) # Confirm you are now in the main project folder

c:\Users\user\Desktop\Customer_Satisfaction_Prediction_to_Production

In [50]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
import seaborn as sns

# Define the path
file_path = Path("artifacts/feature_engineering/feature_engineered_data.csv")

# Load the dataset
try:
    df = pd.read_csv(file_path)
    print("Data loaded successfully!")
except FileNotFoundError:
    print(f"Error: The file at {file_path} was not found.")

Data loaded successfully!

In [51]:
import pandas as pd

pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)
pd.set_option("display.width", 2000)
pd.set_option("display.max_colwidth", None)

In [52]:
df.head()

  order_status    order_approved_at order_delivered_carrier_date  order_item_id   price  freight_value  product_category_name  product_name_lenght  product_description_lenght  product_photos_qty  product_weight_g  product_length_cm  product_height_cm  product_width_cm product_category_name_english     seller_city seller_state            customer_city customer_state  review_score  total_order_value  delivery_days  diff_estimated_delivery  is_late  purchase_year  purchase_month purchase_day_of_week  product_volume_cm3  response_time_hours
0    delivered  2017-10-02 11:07:15          2017-10-04 19:55:00              1   29.99           8.72  utilidades_domesticas                 40.0                       268.0                 4.0             500.0               19.0                8.0              13.0                    housewares            maua           SP                sao paulo             SP             4              38.71            8.0                     -8.0        0           2017              10               Monday              1976.0            27.730000
1    delivered  2018-07-26 03:24:27          2018-07-26 14:31:00              1  118.70          22.76             perfumaria                 29.0                       178.0                 1.0             400.0               19.0               13.0              19.0                     perfumery  belo horizonte           SP                barreiras             BA             4             141.46           13.0                     -6.0        0           2018               7              Tuesday              4693.0            18.630556
2    delivered  2017-11-18 19:45:59          2017-11-22 13:39:59              1   45.00          27.20               pet_shop                 59.0                       468.0                 3.0             450.0               30.0               10.0              20.0                      pet_shop  belo horizonte           MG  sao goncalo do amarante             RN             5              72.20           13.0                    -13.0        0           2017              11             Saturday              6000.0            67.366111
3    delivered  2017-05-16 19:50:18          2017-05-18 11:40:40              1   99.00          30.53     ferramentas_jardim                 36.0                       450.0                 1.0            9000.0               42.0               12.0              39.0                  garden_tools       cariacica           ES           rio de janeiro             RJ             1             259.06           12.0                     -9.0        0           2017               5              Tuesday             19656.0            23.229722
4    delivered  2017-05-16 19:50:18          2017-05-18 11:40:40              2   99.00          30.53     ferramentas_jardim                 36.0                       450.0                 1.0            9000.0               42.0               12.0              39.0                  garden_tools       cariacica           ES           rio de janeiro             RJ             1             259.06           12.0                     -9.0        0           2017               5              Tuesday             19656.0            23.229722

In [53]:
df.columns.tolist()

['order_status',
 'order_approved_at',
 'order_delivered_carrier_date',
 'order_item_id',
 'price',
 'freight_value',
 'product_category_name',
 'product_name_lenght',
 'product_description_lenght',
 'product_photos_qty',
 'product_weight_g',
 'product_length_cm',
 'product_height_cm',
 'product_width_cm',
 'product_category_name_english',
 'seller_city',
 'seller_state',
 'customer_city',
 'customer_state',
 'review_score',
 'total_order_value',
 'delivery_days',
 'diff_estimated_delivery',
 'is_late',
 'purchase_year',
 'purchase_month',
 'purchase_day_of_week',
 'product_volume_cm3',
 'response_time_hours']

In [54]:
print(df.shape)
print(df.isnull().sum().sum())
print("review_score" in df.columns)

(45449, 29)
0
True

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45449 entries, 0 to 45448
Data columns (total 29 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_status                   45449 non-null  object
 1   order_approved_at              45449 non-null  object
 2   order_delivered_carrier_date   45449 non-null  object
 3   order_item_id                  45449 non-null  int64
 4   price                          45449 non-null  float64
 5   freight_value                  45449 non-null  float64
 6   product_category_name          45449 non-null  object
 7   product_name_lenght            45449 non-null  float64
 8   product_description_lenght     45449 non-null  float64
 9   product_photos_qty             45449 non-null  float64
 10  product_weight_g               45449 non-null  float64
 11  product_length_cm              45449 non-null  float64
 12  product_height_cm              45449 non-null  float64
 13  product_width_cm               45449 non-null  float64
 14  product_category_name_english  45449 non-null  object
 15  seller_city                    45449 non-null  object
 16  seller_state                   45449 non-null  object
 17  customer_city                  45449 non-null  object
 18  customer_state                 45449 non-null  object
 19  review_score                   45449 non-null  int64
 20  total_order_value              45449 non-null  float64
 21  delivery_days                  45449 non-null  float64
 22  diff_estimated_delivery        45449 non-null  float64
 23  is_late                        45449 non-null  int64
 24  purchase_year                  45449 non-null  int64
 25  purchase_month                 45449 non-null  int64
 26  purchase_day_of_week           45449 non-null  object
 27  product_volume_cm3             45449 non-null  float64
 28  response_time_hours            45449 non-null  float64
dtypes: float64(14), int64(5), object(10)
memory usage: 10.1+ MB

In [56]:
df.isnull().sum()

order_status                     0
order_approved_at                0
order_delivered_carrier_date     0
order_item_id                    0
price                            0
freight_value                    0
product_category_name            0
product_name_lenght              0
product_description_lenght       0
product_photos_qty               0
product_weight_g                 0
product_length_cm                0
product_height_cm                0
product_width_cm                 0
product_category_name_english    0
seller_city                      0
seller_state                     0
customer_city                    0
customer_state                   0
review_score                     0
total_order_value                0
delivery_days                    0
diff_estimated_delivery          0
is_late                          0
purchase_year                    0
purchase_month                   0
purchase_day_of_week             0
product_volume_cm3               0
response_time_hours              0
dtype: int64

In [57]:
# 2️⃣ Unique values per column
print("\n=== Number of unique values per column ===")
print(df.nunique())

=== Number of unique values per column ===
order_status                         2
order_approved_at                36968
order_delivered_carrier_date     34880
order_item_id                       21
price                             3919
freight_value                     5290
product_category_name               71
product_name_lenght                 61
product_description_lenght        2570
product_photos_qty                  17
product_weight_g                  1684
product_length_cm                   98
product_height_cm                   98
product_width_cm                    84
product_category_name_english       71
seller_city                        513
seller_state                        22
customer_city                     3159
customer_state                      27
review_score                         5
total_order_value                17419
delivery_days                      123
diff_estimated_delivery            161
is_late                              2
purchase_year                        3
purchase_month                      12
purchase_day_of_week                 7
product_volume_cm3                3397
response_time_hours              35455
dtype: int64

In [58]:
categorical_cols = df.select_dtypes(include='object').columns
print("\n=== Categorical column stats (top 5 frequent values) ===")
for col in categorical_cols:
    print(f"\nColumn: {col}")
    print(df[col].value_counts().head())

=== Categorical column stats (top 5 frequent values) ===

Column: order_status
order_status
delivered    45442
canceled         7
Name: count, dtype: int64

Column: order_approved_at
order_approved_at
2017-07-17 18:25:23    21
2018-02-22 11:48:42    14
2018-06-08 19:31:06    14
2018-04-14 02:31:43    13
2018-04-19 22:11:43    13
Name: count, dtype: int64

Column: order_delivered_carrier_date
order_delivered_carrier_date
2017-07-20 15:45:53    21
2018-05-09 15:48:00    17
2018-05-10 18:29:00    15
2018-05-28 15:55:00    15
2018-02-27 18:27:01    14
Name: count, dtype: int64

Column: product_category_name
product_category_name
cama_mesa_banho           5149
beleza_saude              3633
moveis_decoracao          3467
esporte_lazer             3307
informatica_acessorios    3179
Name: count, dtype: int64

Column: product_category_name_english
product_category_name_english
bed_bath_table           5149
health_beauty            3633
furniture_decor          3467
sports_leisure           3307
computers_accessories    3179
Name: count, dtype: int64

Column: seller_city
seller_city
sao paulo                11566
ibitinga                  3657
sao jose do rio preto     1224
santo andre               1185
curitiba                  1114
Name: count, dtype: int64

Column: seller_state
seller_state
SP    32948
PR     3363
MG     3356
RJ     1853
SC     1538
Name: count, dtype: int64

Column: customer_city
customer_city
sao paulo         6514
rio de janeiro    3324
belo horizonte    1139
brasilia           952
salvador           658
Name: count, dtype: int64

Column: customer_state
customer_state
SP    18386
RJ     6354
MG     5246
RS     2308
PR     2112
Name: count, dtype: int64

Column: purchase_day_of_week
purchase_day_of_week
Tuesday      7435
Monday       7356
Wednesday    7089
Thursday     6773
Friday       6529
Name: count, dtype: int64

In [59]:
TARGET = "review_score"

In [60]:
assert TARGET in df.columns

In [61]:
numeric_cols = df.select_dtypes(include=["int64", "float64"]).columns.tolist()
categorical_cols = df.select_dtypes(include=["object", "category"]).columns.tolist()

numeric_cols.remove(TARGET)

In [62]:
df[TARGET].value_counts().sort_index()

review_score
1     9765
2     2575
3     4174
4     6578
5    22357
Name: count, dtype: int64

In [63]:
df.duplicated().sum()

0

In [40]:
corr = df[numeric_cols + [TARGET]].corr()[TARGET].sort_values(ascending=False)
corr

review_score                  1.000000
purchase_month                0.037936
product_photos_qty            0.037057
response_time_hours           0.012132
product_description_lenght    0.010081
price                         0.008987
product_name_lenght          -0.001578
product_width_cm             -0.004093
product_length_cm            -0.023049
product_volume_cm3           -0.026113
freight_value                -0.027302
product_weight_g             -0.027417
product_height_cm            -0.028459
purchase_year                -0.044697
total_order_value            -0.094027
order_item_id                -0.174862
diff_estimated_delivery      -0.230857
delivery_days                -0.295504
is_late                      -0.341497
has_comment                        NaN
Name: review_score, dtype: float64

In [41]:
low_variance = [
    c for c in numeric_cols if df[c].nunique() <= 1
]

df.drop(columns=low_variance, inplace=True)

In [23]:
for col in categorical_cols:
    print(col, df[col].nunique())

order_id 38393
customer_id 38393
order_status 2
order_purchase_timestamp 38286
order_approved_at 36968
order_delivered_carrier_date 34880
order_delivered_customer_date 38244
order_estimated_delivery_date 433
product_id 17966
seller_id 2385
shipping_limit_date 37678
product_category_name 71
product_category_name_english 71
seller_city 513
seller_state 22
customer_city 3159
customer_state 27
review_creation_date 1090
review_answer_timestamp 38261
review_comment_message 33950
purchase_day_of_week 7

In [25]:
DROP_COLS = [
    "order_id",
    "customer_id",
    "product_id",
    "seller_id",
    "review_comment_message"
]

df.drop(columns=DROP_COLS, inplace=True)

In [42]:
df['has_comment'].value_counts(normalize=True)

KeyError: 'has_comment'